html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: transparent;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: #fff;
}

#status {
  background-image: linear-gradient(to right, #a100ff, #7d70ff, #7ed8ff);
  width: 100%;
  height: 50px;
}

#menubtn {
  background-image: url("../img/menu.png");
  background-color: transparent; /* 배경색 */
  border: none; /* assuming we don't want any borders */
  cursor: pointer; /* 커서 위치시 커서 모양 변경 */
  height: 48px;
  width: 48px;
  float: left;
}

#username {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  width: 150px;
  text-align: left;
  line-height: 46px;
  float: left;
}

#inputname,
#todoinput {
  padding-left: 14px;
  color: #bcbcbc;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  height: 18px;
  margin: 16px 0 0 0;
  float: left;

  box-shadow: 0 3px 6px hsl(0 0% 0% / 20%);
}

#todoinput {
  width: 60%;
  margin: 16px 0 0 20%;
  color: #1a1b27;
  color: #000;
}

#loginbtn {
  background-color: transparent;
  border: none;
  color: #bcbcbc;
  font-size: 14px;
  margin: 16px 0 0 10px;
  cursor: pointer; /* 커서 위치시 커서 모양 변경 */
}

#date {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 180px;
  line-height: 46px;
  float: right;
}

#main {
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

#menu {
  width: 20%;
  height: 80%;
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 30px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

#todo {
  width: 80%;
  float: right;
  padding-top: 40px;
  margin-left: 20px;
}

#todoplus {
  background-color: transparent; /* 배경색 */
  border: none; /* assuming we don't want any borders */
  cursor: pointer; /* 커서 위치시 커서 모양 변경 */
  height: 24px;
  width: 24px;
  float: left;
  padding: 4px;
  margin-top: 15px;
  margin-left: 8px;
  text-align: center;
}

#todoplus:hover {
  background-color: #f5f5f5;
  border-radius: 50%;
}

#todobtn {
  margin: 40px 10px 0 10px;
  font-weight: bolder;
}

#todocheck {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 12px;
  height: 12px;
  cursor: pointer;
  outline: none !important;
  border: 1px solid #a5a5a5;
  border-radius: 2px;
  background: #fbfbfb;
}

input[type="checkbox"]::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[type="checkbox"]:hover {
  border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
  background-color: #00b3ff;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}

input[type="checkbox"]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}

#todo_list {
  width: 80%;
  overflow: auto;
  padding-left: 22%;
}

#todo_list li {
  list-style-type: none;
  margin: 20px 0 0 0;
  font-size: 14px;
  line-height: 20px;
}

#todo_list li button {
  background-color: transparent;
  margin: 0 0 0 0px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

#diarybtn {
  margin: 60px 10px 0 10px;
}

#bookbtn {
  margin: 60px 10px 0 10px;
}

#todobtn,
#diarybtn,
#bookbtn {
  font-size: 16px;
  font-weight: bolder;
}

#weather {
  position: relative;
  width: 12%;
  height: 40%;
}

#weather-img {
  position: absolute;
  padding-left: 170%;
  padding-top: 60%;
  width: 400%;
}

#weather-temp {
  position: absolute;
  padding-left: 540%;
  padding-top: 200%;
  font-size: 12px;
  font-weight: bolder;
}

#cover {
  width: 30%;
  height: 10%;
}

@media (max-width: 600px) {
  #weather-temp {
    font-size: 8px;
    padding-left: 10px;
    padding-top: 40px;
  }
  #todobtn,
  #diarybtn,
  #bookbtn {
    font-size: 10px;
    margin: 0;
  }
  #date {
    color: #000;
    width: 100%;
    height: 50px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
  }
}

@media (max-height: 630px) {
  #weather-temp {
    font-size: 8px;
    padding-left: 10px;
    padding-top: 40px;
  }
  #todobtn,
  #diarybtn,
  #bookbtn {
    font-size: 10px;
    margin: 0;
  }
  #date {
    color: #000;
    width: 100%;
    height: 50px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
  }
}

@media (max-width: 1200px) {
  #madeinfo,
  #musicbox {
    display: none;
  }
}

#musicbox,
#todohome,
#madeinfo {
  box-shadow: 0 3px 6px hsl(0 0% 0% / 20%);
  width: 40%;
  height: 80%;
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 30px;
}

#musicbox,
#madeinfo {
  width: 30%;
  height: 40%;
  margin-left: 40px;
  text-align: center;
  padding-top: 20px;
}

#madeinfo {
  background-image: linear-gradient(to right, #a100ff, #7d70ff, #7ed8ff);
  color: #ffffff;
  height: 32%;
  line-height: 40px;
  position: relative;
}

#info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menubtn {
  background-color: transparent;
  border: none;
  width: 92%;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  padding-left: 20%;
  border-radius: 30px;
}

.menubtn:hover {
  background-image: linear-gradient(to right, #a100ff, #7d70ff, #7ed8ff);
  color: #ffffff;
}

.hidden {
  display: none;
}

.menuline {
  margin-top: 40px;
  width: 90%;
  border: solid 1px #dfdfdf;
}
