html, body {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #515C76 ;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

#status{
    background-color: #1A1B27;
    width: 100%;
    height: 50px;
}

#menubtn{
    background-image: url("../img/menu.png");
    background-color: transparent; /* 배경색 */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* 커서 위치시 커서 모양 변경 */
    height: 48px;
    width: 48px;   
    float:left;
}

#username{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 150px; 
    text-align: left;
    line-height : 46px;
    float:left;
}

#inputname{
    background-color: #27293B;
    color: #BCBCBC;
    border: none;
    font-size: 12px;
    height: 18px;
    margin: 16px 0 0 0;
    float:left;
}

#loginbtn{
    background-color: transparent;
    border: none;
    color: #BCBCBC;
    font-size: 14px;
    margin: 16px 0 0 10px;
    cursor: pointer;        /* 커서 위치시 커서 모양 변경 */
}

#date{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    width: 180px; 
    line-height : 46px;
    float:right;
}

#menu{
    background-color: #27293B;
    width: 20%;
    height: 100%;
    margin-top: 50;
}

#todobtn{
    margin: 40px 10px 0 10px;
}

#diarybtn{
    margin: 60px 10px 0 10px;
}

#memobtn{
    
    margin: 60px 10px 0 10px;
}

#weather{
    position: relative;
    width: 12%;
    height:40%;
}

#weather-img{
    position: absolute;
    padding-left: 170%;
    padding-top: 60%;
    width: 400%;
}

#weather-temp{
    position: absolute;
    padding-left:540%;
    padding-top: 200%;
    font-size: 18px;
    color: #fff;
    font-weight: bolder;
}


.menubtn{
    background-color: transparent;
    border: none;
    color: #ffffff;
    width: 92%;
    height: 40px;
    cursor: pointer; 
    font-size: 14px;
    text-align: left;
    padding-left: 20%;
}

.menubtn:hover{
    background-color: #8091B7;
}

.hidden{
    display: none;
}

.menuline{
    margin-top: 60px;
    width: 70%;
    border: solid 1px #8091B7;
}